<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aj.NesT the Series</title>
</head>
<body>
    <h1>ฉลากกินเเบ่งรัฐบาล</h1>
    <h2>งดประจำวันที่</h2>
    <h3>16 มีนาคม 2565</h3>
    <h3>รางวัลที่ 1</h3>
    <p><%= userid %></p>
    <h3>รางวัลที่ เลขท้าย 3 ตัว/h3>
    <p><%= status %></p>
    <h3>รางวัลที่ 3</h3>
    <p><%= number %></p>
    <p><%= rember %></p>
</body>
</html>